<h2><%= @recipe.name %></h2>
<p>By: <%= @recipe.chef %></p>
<p>Total Baking Time: <%= @recipe.cook_time %></p>
<p>Yield: <%= @recipe.yield %></p>

<h3><label for='ingredients'> Ingredients </label></h3>
<ul id='ingredients'>
<% @recipe.ingredients.split('---').each do |ingredient| %>
    <li><%= ingredient %> </li>
<% end %>
</ul>
<% @recipe.sub_recipes.each do |subrecipe| %>
    <% if subrecipe.ingredients.size > 0 %>
        <label for='<%subrecipe.name%>_ingredients'><%= subrecipe.name %> Ingredients </label>
        <ul id = '<%subrecipe.name%>_directions'>
        <% subrecipe.ingredients.split('---').each do |ingredient| %>
            <li><%= ingredient %> </li>
        <% end %>
        </ul>
    <% end %>
<% end %>

<h3><label for='directions'> Directions </label></h3>
<ol id='directions'>
<% @recipe.directions.split('---').each do |direction| %>
    <li><%= direction %> </li>
<% end %>
</ol>
<% @recipe.sub_recipes.each do |subrecipe| %>
    <% if subrecipe.directions.size > 0 %>
        <label for='<%=subrecipe.name%>_directions'><%= subrecipe.name %> Directions </label>
        <ol id = '<%=subrecipe.name%>_directions'>
        <% subrecipe.directions.split('---').each do |direction| %>
            <li><%= direction %> </li>
        <% end %>
        </ol>
    <% end %>
<% end %>


