<h2><%= @recipe.name %></h2>
<p>By: <%= @recipe.chef %></p>
<p>Total Baking Time: <%= @recipe.cook_time %></p>
<p>Yield: <%= @recipe.yield %></p>

<h3><label for='ingredients'> Ingredients </label></h3>
<ul id='ingredients'>
<% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.content %> </li>
<% end %>
</ul>
<% @recipe.sub_recipes.each do |subrecipe| %>
    <% if subrecipe.ingredients.size > 0 %>
        <label for='<%subrecipe.name%>_ingredients'><%= subrecipe.name %>: </label>
        <ul id = '<%subrecipe.name%>_directions'>
        <% subrecipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.content %> </li>
        <% end %>
        </ul>
    <% end %>
<% end %>

<h3><label for='directions'> Directions </label></h3>
<ol id='directions'>
<% @recipe.directions.each do |direction| %>
    <li><%= direction.content %> </li>
<% end %>
</ol>
<% @recipe.sub_recipes.each do |subrecipe| %>
    <% if subrecipe.directions.size > 0 %>
        <label for='<%=subrecipe.name%>_directions'><%= subrecipe.name %>: </label>
        <ol id = '<%=subrecipe.name%>_directions'>
        <% subrecipe.directions.each do |direction| %>
            <li><%= direction.content %> </li>
        <% end %>
        </ol>
    <% end %>
<% end %>


